body {
  background: black;
  height: 100vh;
  overflow: hidden;
}

#loveIcon {
  width: 100px;
  height: 100px;
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: doerAnimate linear 6s;
}

@keyframes doerAnimate {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -5000%);
    filter: hue-rotate(740deg);
  }
}
